@font-face {
    font-family: 'Ulalong';
    src: url('UlalongDEMO-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ulalong';
    background: #fff4f4;
    display: grid;
    grid: "a" 1fr "b" 1fr "c" 1fr "d" 1fr;
    text-align: center;
    height: 100vh;
    font-weight: bold;    
}

#name {
    grid-area: a;
    align-self: end;
}

#role {
    grid-area: b;
    align-self: center;
}

#reminder {
    grid-area: c;
    align-self: start;
}

#name, #role, #reminder {
    font-size: 4vmin;
}

#circlePath {
    fill: none;
}

#circle {
    position: relative;
    width: 100%;
     padding-bottom: 100%;
    overflow: hidden;
    /* grid-row: 4; */

}

#circle text {
    font-family: Arial;
    font-size: 1.15em;
}

#circle svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-animation: rotate 15s linear infinite;
    animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}